.flex-container {
    display:flex;
    align-items: center;
    position: absolute;
  
    
           }
header {
        justify-content:space-between;
        height: 32px;
        margin-top: 67px;
        width: 1920px;
        
        

    .site-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    }
    .left-controls {
        
        margin-left: 61px;
        
    }

    .link-fonts {
        @extend .nunito-extrabold;
        font-size: 14px;
        color:#1a1a1d;
        
        &:hover {
           color:rgba(26, 26, 29, 0.5);
        }
    }
    .search-controls {
        position: sticky;
        margin-right: 66px;
    }
    
    .icon-button {
        background-color: transparent;
        border:none;
        outline: unset;
        padding: 0;
            }
    .clients-link {
        margin-right:46px;
        margin-left: 53px;
           }
    .first-screen {
              display: flex;
         justify-content: flex-end;
     background-color: #ffffff;
        height: 1080px;
        width: 1920;
        position: absolute;
        z-index: -3;      
     
    }     
     .rectangle-with-background {
        width: 481px;
        height: 811px;
        background-image: linear-gradient(225deg, #b4d3d3, #d9e7e7);
        position: absolute;
        z-index: -1;
     }
     .main-content {
         width: 1841;
         height: 839;
         position: absolute;
         z-index: -2;
     }
     .person-info {
         padding: 540px 159px;
         font-size: 101px;
         position: absolute;
     }
     .slide-video{
     width: 1320px;
      height: 810px;
      background-color: #e2e8e8;
      padding: 270px 480px;
}
    
     