.flex-container {
    display:flex;
    align-items: center;
     
           }
header {        
        height: 32px;
        margin-top: 67px;
        width: 1920px;
        position: fixed;
        z-index: 10;
        justify-content:space-between;
                       

    .site-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    }
    .left-controls {
        
        margin-left: 61px;
        
    }

    .link-fonts {
        @extend .nunito-extrabold;
        font-size: 14px;
        color:#1a1a1d;
        text-decoration: unset;
        
        &:hover {
           color:rgba(26, 26, 29, 0.5);
        }
    }
    .search-controls {

        margin-right: 66px;
    }
    
    .icon-button {
        background-color: transparent;
        border:none;
        outline: unset;
        padding: 0;
            }
    .clients-link {
        margin-right:46px;
        margin-left: 53px;
           }
    footer {
            height:230px;
            width: 1920px;
            display: flex;
            justify-content: center;
     .footer-info {
         width: 1798px;
         height:135px;
         justify-content: space-between;   
              }       
     .right-part {
            height: 100%;
            
            position:relative;
            

        }      
       .newsletter {
        font-size: 14px;
        line-height: 2.14;
        letter-spacing: 2.8px;
        color:$primary-color;
        text-transform: uppercase;
       }   

       .letter {
       width: 20px;
       height: 16px;
       }     

       .social-nets {
           right:0;
           bottom:0;
           width:184px;
           position: absolute;
           justify-content: space-between;
           .social-net {
           cursor: pointer;
           }
       }

       .left-part {
           height:100%;
           position: relative;
           
       }
       .designed-by {
           position: absolute;
           bottom:0;
           left:0;
           width: 458px;
           color: #77777e;
           font-size: 15px;
                 }
         }
    